.projCard{
    border:1px solid black;
    box-shadow: 0 0 5px black;
    margin:1em;
    position: relative;
    border-radius: 1.5em;
    overflow: hidden;
    margin-bottom: 1.2em;
  }

  .projCard img {
    
    width: 100%;
    height: auto;
  }

  
  .projCard::before {
    content: "";
    background: linear-gradient(90.21deg, #7a487c -5.91%, #4A2FBD 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
  }
  .projCard:hover::before {
    height: 100%;
  }
  .cardTxt {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
  }
  .projCard:hover .cardTxt {
    top: 50%;
    opacity: 1;
  }
  .cardTxt h4 {
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
  }
  .cartTxt span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
  }

  .projCard a {
    display: inline-block;
    font-size: 1.2em;
    margin:0.5em;
    padding:0.2em 0.8em 0.2em 0.8em;
    margin-right: 0.7em;
    border: 2px ridge #00ccff;
    border-radius: 1.5em;
}


