.titleCard {
    margin:1.5em 0 1em 0  ;
    font-size:3em;
}

.card {
    border:1px solid black;
    box-shadow: 0 0 5px black;
    width:25em;
    margin:2em;
}

.cardImage {
    position:relative;
    width:100%;
    height:100%;
    

    img {
        width: 100%;
            height: 100%;
            object-fit: cover;
    }
}

.cardTitle, .cardDescription {
    text-align:center;
    margin:0;
    padding:0.5em;
}

.cardTitle {
    font-weight: bold;
    font-size:1.5em;
}

.cardDescription {
    font-size:0.6em;
}
.card a {
    display: inline-block;
    font-size: 1.2em;
    margin:0.5em;
    padding:0.4em;
    margin-right: 0.7em;
    border: 2px dashed #00ccff;
    border-radius: 0.5em;
}


@media (max-width: 768px) {
	.card {
        width:80%;
	}
	
  }
  
@media (min-width: 769px) and (max-width: 1024px) {

.card {
    width:40%;
    margin:1em;
}
}

