.Menu {
    position:absolute;
    display:flex;
    width:100%;
    justify-content: flex-end;
    background-color: transparent; 
    position:fixed;

    
}

 .Menu li {
    margin:1em;
    border: 2px ridge #00ccff;
    border-radius: 1.5em;
    font-size: 1.66em;
    padding:0.5em 0.6em 0.3em 0.6em;
}

@media (max-width: 768px) {
	
    .Menu {
        display:none;
    }
  
}
