.Menu {
    position:absolute;
    display:flex;
    width:100%;
    justify-content: end;
    background-color: transparent; 
   
    
}

 .Menu a {
    
    margin:0.3em;
    border: 2px dashed #00ccff;
    border-radius: 10%;;
    font-size: 1.66em;
    padding:0.3em;
}

@media (max-width: 768px) {
	
    .Menu {
        display:none;
    }
  
}
