.Attributes {
    background:#0d3b66;
    width:36%;
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
}

.title {
    padding:20px 0;
    font-size:26px;
}
.Abilities {
    font-size:23px;
}

.rangeA {
    padding:5px;
    font-size: 20px;
}