.Attributes {
    background:#0d3b66;
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
}

.title {
    padding:20px 0;
    font-size:26px;
}
.Abilities {
    padding:10px 0;
    font-size:25px;
}

.rangeA {
    padding:5px 0;
    font-size: 18px;
}
